[submodule ".vim/bundle/vim-classpath"]
	path = .vim/bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule ".vim/bundle/vim-leiningen"]
	path = .vim/bundle/vim-leiningen
	url = git://github.com/tpope/vim-leiningen.git
[submodule ".vim/bundle/vim-projectionist"]
	path = .vim/bundle/vim-projectionist
	url = git://github.com/tpope/vim-projectionist.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule ".vim/bundle/rainbow_parentheses.vim"]
	path = .vim/bundle/rainbow_parentheses.vim
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule ".vim/bundle/vim-clojure-static"]
	path = .vim/bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule ".vim/bundle/vim-clojure-highlight"]
	path = .vim/bundle/vim-clojure-highlight
	url = git://github.com/guns/vim-clojure-highlight.git
[submodule ".vim/bundle/vim-arduino-ino"]
	path = .vim/bundle/vim-arduino-ino
	url = git@github.com:jplaut/vim-arduino-ino.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/pathogen"]
	path = .vim/pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule ".vim/bundle/paredit.vim"]
	path = .vim/bundle/paredit.vim
	url = git@github.com:vim-scripts/paredit.vim.git
[submodule ".vim/bundle/vim-jsx"]
	path = .vim/bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule ".vim/bundle/yajs.vim"]
	path = .vim/bundle/yajs.vim
	url = git@github.com:othree/yajs.vim.git
[submodule ".vim/bundle/vaxe"]
	path = .vim/bundle/vaxe
	url = git@github.com:jdonaldson/vaxe.git
[submodule ".vim/bundle/vim-gutentags"]
	path = .vim/bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-slamhound"]
	path = .vim/bundle/vim-slamhound
	url = git@github.com:guns/vim-slamhound.git
