[submodule ".vim/bundle/vim-classpath"]
	path = .vim/bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule ".vim/bundle/vim-leiningen"]
	path = .vim/bundle/vim-leiningen
	url = git://github.com/tpope/vim-leiningen.git
[submodule ".vim/bundle/vim-projectionist"]
	path = .vim/bundle/vim-projectionist
	url = git://github.com/tpope/vim-projectionist.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule ".vim/bundle/rainbow_parentheses.vim"]
	path = .vim/bundle/rainbow_parentheses.vim
	url = git://github.com/kien/rainbow_parentheses.vim.git
